@import "var.scss";
@import "global.scss";

.header-search {
    @include layout(center, center);
    border-radius: $header-search-radius;
    overflow: hidden;
    margin-top: auto;
    

    .button-desc {
        color: $color-orange;
        background-color: #262626;
        height: $header-search-height;
        width: $header-search-width;
        border: #dd6f0d solid 5px;
        font-size: $font-size-default;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:focus {
            outline: none;
        }
    }

    .search-btn {
        @include layout(center, center);
        color: $color-white;
        background-color: $color-orange;
        border: #dd6f0d solid 5px;
        width: $header-search-btn-width;
        height: $header-search-btn-height;
        cursor: pointer;
        .icon {
            @include icon(1.2em, $color-white);
        }
    }
}
